@model OnlineEcommerceShop.Models.Products

@{
    ViewData["Title"] = "Create";
}


<h4>Add New Product</h4>
<hr />
@*<form asp-action="Create" method="post" enctype="multipart/form-data">*@
<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="col-8 p-4 rounded border">
        <div asp-validation-summary="ModelOnly" class="text-danger">
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Name"></label>
            </div>
            <div>
                <input asp-for="Name" class="form-control" />
            </div>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Price"></label>
            </div>
            <div>
                <input asp-for="Price" class="form-control" />
            </div>
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Image"></label>
            </div>
            <div>
                @*<input asp-for="Image" class="form-control" type="file"/>*@
                <input asp-for="Image" class="form-control" type="file" name="image" />
            </div>
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="ProductColour"></label>
            </div>
            <div>
                <input asp-for="ProductColour" class="form-control" />
            </div>
            <span asp-validation-for="ProductColour" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="ProductTypeId"></label>
            </div>
            <div>
                <select asp-for="ProductTypeId" asp-items="ViewBag.ProductTypeId" class="form-control"></select>
                @*<input asp-for="ProductTypeId" class="form-control" />*@
            </div>
            <span asp-validation-for="ProductTypeId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <div>
                <label asp-for="IsAvailable"></label>
            </div>
            <div>
                <input asp-for="IsAvailable" type="checkbox"/>
            </div>
            <span asp-validation-for="IsAvailable" class="text-danger"></span>
        </div>

        <br />
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Save" />
            <a asp-action="Index" class="btn btn-success">Back to List</a>
        </div>
    </div>
</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
